*{
    margin: 0;
    padding: 0;
}
h1{
    padding-top: 50px;
    padding-bottom: 150px;
}
table{
    height: 50vh;
    width: 50vw;
    font-size: 20px;
    list-style: none;
}
li>a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    text-align: center;
}
td{
    padding-left: 185px;
    padding-top: 50px;
    padding-bottom: 50px;
}